In [3]:
list1=[] #empty list
list1

[]

In [5]:
type(list1)

list

In [7]:
print(type(list1))

<class 'list'>

In [9]:
list2 = [10, 20, 30] #list if integers
list3 = [10.77, 30.66, 60.89] #list of float
list4 = ['one', 'two', "three"] #list of strings

In [11]:
list5 = ['Asif', 25, [50,100], [150,90]] #Nested lists

In [13]:
list6 = [100, 'Asif', 17.765] #list of mixed datatypes

In [15]:
list7 = ['Asif', 25, [50,100], [150,90], {'John', 'David'}]

In [17]:
len(list6)
len(list7)

5

In [19]:
len(list6) #Retrieve first element of the list

3

In [23]:
list7[0] #Retrieve first element of the list

'Asif'

In [25]:
list7[0][0] #Nested indexing - Access first character of the first list element

'A'

In [27]:
list7[-1] #Last item of the list

{'David', 'John'}

#Slicing

In [29]:
mylist = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [31]:
mylist[0:3] #Return all items from 0th to 3rd index location excluding the item

['one', 'two', 'three']

In [75]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [77]:
mylist[2:5] #List all items from 2nd index to 5th index

['three', 'four', 'five']

In [79]:
mylist[:3] #list first three items

['one', 'two', 'three']

In [85]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [87]:
mylist[:-3] #list all items except last three

['one', 'two', 'three', 'four', 'five']

In [91]:
mylist[-3:] #list last three items

['six', 'seven', 'eight']

In [93]:
mylist[-1:] #list last item

['eight']

In [95]:
mylist[:] #Return whole list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

Add Remove and Change items

In [97]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [99]:
mylist.append('nine') #Add an item to the end of the list

In [101]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [103]:
mylist.insert(9,'ten') #Add item at index 9
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [105]:
mylist.insert(1,'ONE') #Add item at index 1

In [107]:
mylist

['one',
 'ONE',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten']

In [109]:
mylist.remove('ONE') #Remove item "ONE"
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [111]:
mylist.pop() #Remove last item from the list
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [113]:
mylist.pop(8) #Remove item at index location 8
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [115]:
del mylist[7] #Remove item at index location 7
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

In [117]:
#Change value of the string
mylist[0] = 1
mylist[1] = 2
mylist[2] = 3
mylist

[1, 2, 3, 'four', 'five', 'six', 'seven']

In [119]:
mylist.clear() #Deletes all the item in the list

In [121]:
mylist

[]

In [123]:
del mylist #Deletes the whole list

In [125]:
mylist

NameError: name 'mylist' is not defined

Copy List

In [127]:
mylist = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [129]:
mylist1 = mylist #Create a new reference "mylist1"

In [131]:
id(mylist), id(mylist1) #Show the address of mylist and mylist1 which would be the same as it has same values

(2264092531904, 2264092531904)

In [133]:
mylist2 = mylist.copy() #Create a copy of the list

In [135]:
id(mylist2) #Id of mylist2 is different from mylist because we are copying it

2264092326080

In [137]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [139]:
mylist[0]

'one'

In [141]:
mylist[0] = 1 #Changes the value at index 0 to 1

In [143]:
mylist

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [145]:
mylist1 #mylist1 will also be impacted as it is pointing to the same list

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [147]:
mylist2 #Copy of the list wont be impacted due to changes made on the original list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

Joining Lists

In [149]:
list1 = ['one', 'two', 'three', 'four']
list2 = ['five', 'six', 'seven', 'eight']

In [153]:
list3 = list1 + list2 #Join two list by '+' operator
list3

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [155]:
list1.extend(list2)

In [167]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [169]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

List Membership

In [171]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [173]:
'one' in list1 #Check if 'one' exists in list1

True

In [175]:
'ten' in list1 #Check if 'ten' exists in list1

False

In [181]:
if 'three' in list1:
    print('Three is present in the list')
else:
    print('Three is not present in the list')

Three is present in the list

In [183]:
if 'ten' in list1:
    print('Ten is present in the list')
else:
    print('Ten is not present in the list')

Ten is not present in the list

Reverse and Sort list

In [185]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [193]:
list1.reverse() #Reverse the list
list1

['eight', 'seven', 'six', 'five', 'four', 'three', 'two', 'one']

In [202]:
list1 = list1[::-1] #Reverse the list
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [206]:
mylist3 = [9,5,2,99,12,88,34]

In [210]:
mylist3.sort() #sorts in ascending order
mylist3

[2, 5, 9, 12, 34, 88, 99]

In [212]:
mylist3

[2, 5, 9, 12, 34, 88, 99]

In [218]:
mylist3.sort(reverse=True) #Sorts in descending order
mylist3

[99, 88, 34, 12, 9, 5, 2]

In [220]:
mylist4 = [88,65,33,21,11,98]

In [222]:
sorted(mylist4) #Returns a new sorted list and doesnt change original

[11, 21, 33, 65, 88, 98]

In [224]:
mylist4

[88, 65, 33, 21, 11, 98]

Loop through a list

In [226]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [230]:
for i in list1:
    print(i)

one
two
three
four
five
six
seven
eight

In [232]:
for i in enumerate(list1): #prints the value along with their index
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

Count

In [234]:
list10 = ['one', 'two', 'three', 'four', 'one', 'one', 'two', 'three']

In [236]:
list10

['one', 'two', 'three', 'four', 'one', 'one', 'two', 'three']

In [238]:
list10.count('one') #Gives the total number of times 'one' occured in the list

3

In [240]:
list10.count('two') #Occurence of item 'two' in the list

2

In [244]:
list10.count('four')

1

In [246]:
list10.count('ten')

0

All/any

The all() method returns:
True - If all elements in a list are true
False - If any element in a list is false

The any() function returns True if any element in the list is True. If not, any() returns False.

In [248]:
L1 = [1,2,3,4,0]

In [250]:
all(L1)  # Will Return false as one value is false (Value 0)

False

In [252]:
any(L1) # Will Return True as we have items in the list with True value

True

In [254]:
L2 = [1,2,3,4,True,False]

In [256]:
all(L2) # Returns false as one value is false

False

In [258]:
any(L2) # Will Return True as we have items in the list with True value

True

In [260]:
L3 = [1,2,3,True]

In [262]:
all(L3) # Will return True as all items in the list are True

True