Tuples

1. Tuple is similar to list except that the objects in tuple are immutable which means we cannot change the elements of a tuple once assigned.
2. When we do not want to change the data over time, then our preferred datatype would be tuple.
3. Iterating over the elements of a tuple is faster compared to iterating over a list.

#Tuple creation

In [80]:
tup1 = () #Empty tuple

In [81]:
tup2 = (10,30,60) #tuple of integers

In [82]:
tup3 = (10.77, 30.66, 60.89) #tuple of float numbers

In [83]:
tup4 = ('one', 'two', 'three') #tuple of string numbers

In [84]:
tup5 = ('Asif', 25, (50,100), (150,90) ) #Nested tuple

In [85]:
tup6 = (100, 'Asif', 17.765) #tuple of mixed datasetss

In [86]:
tup7 = ('Asif', 25, [50,100], [150,90], ('John', 'David'), (99,22,33) )

In [87]:
len(tup7) #length of tuple

6

#Tuple indexing

In [89]:
tup2

(10, 30, 60)

In [90]:
tup2[0] #first element of tuple

10

In [91]:
tup4

('one', 'two', 'three')

In [92]:
tup4[0][0] #Nested indexing - access the 1st character of 1st element in tuple

'o'

In [93]:
tup4[-1] #Last item of the tuple

'three'

In [94]:
tup5[-1] #Last item of the tuple

(150, 90)

#Tuple slicing

In [96]:
mytuple = ('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [97]:
mytuple[0:3] #Returns all items from 0th to 3rd index

('one', 'two', 'three')

In [98]:
mytuple[2:5] #Returns all items from 2nd index to 5th index

('three', 'four', 'five')

In [99]:
mytuple[:3] #Returns first three elements

('one', 'two', 'three')

In [100]:
mytuple[:] #Returns all the elements

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [101]:
mytuple[1:] #Returns all elements from index 1

('two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [102]:
mytuple[-3:] #Returns last three elements

('six', 'seven', 'eight')

In [103]:
mytuple[-1:] #Returns the last element

('eight',)

#Remove and change items

In [141]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [143]:
del mytuple [0] #Items in tuple cant be deleted as it is immutable

TypeError: 'tuple' object doesn't support item deletion

In [147]:
mytuple[0] = 1 #Tuple items cant be changed as its immutable

TypeError: 'tuple' object does not support item assignment

In [ ]:
del mytuple #Deleting entire tuple object is possible

#Loop through a tuple

In [149]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [153]:
for i in mytuple: 
    print(i)  #shows the items in tuple vertically

one
two
three
four
five
six
seven
eight

In [155]:
for i in enumerate(mytuple):
    print(i)  #enumerate shows the items in typle vertically along with their index

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

#Tuple membership

In [157]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [159]:
'one' in mytuple #Checks if 'one' exists in tuple

True

In [161]:
'ten' in mytuple #Checks if 'one' exists in tuple

False

In [163]:
if 'three' in mytuple: #Checks if 'three' is present in tuple
    print('Three is present in the tuple')
else:
    print('Three is not present in the tuple')

Three is present in the tuple

if 'eleven' in mytuple: #Checks if 'three' is present in tuple
    print('Eleven is present in the tuple')
else:
    print('Eleven is not present in the tuple')

#Index position

In [167]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [169]:
mytuple.index('one') #Shows the index of element 'one'

0

In [171]:
mytuple.index('five') #Shows the index of element 'five

4

#Sorting

In [175]:
mytuple2 = (43, 67, 99, 12, 6, 90, 67)

In [177]:
sorted(mytuple2) #Returns a new sorted list and doesnt change the original tuple

[6, 12, 43, 67, 67, 90, 99]

In [179]:
sorted(mytuple2, reverse=True) #Sorts in descending order

[99, 90, 67, 67, 43, 12, 6]