<b> Sets </b>

1. Unordered and unindexed collection of items.
2. Set elements are unique. Duplicate elements are not allowed.
3. Set elements are immutable. (Cannot be changed)
4. Set itself is mutable. We can add or remove items from it.

#Set creation

In [173]:
myset = {1,2,3,4,5} #Set of numbers
myset

{1, 2, 3, 4, 5}

In [174]:
len(myset)

5

In [175]:
my_set = {1,1,2,2,3,4,5,5} #Duplicate elements are not allowed
my_set

{1, 2, 3, 4, 5}

In [176]:
myset1 = {1.79, 2.08, 3.99, 4.56, 5.45} #Set of float numbers
myset1

{1.79, 2.08, 3.99, 4.56, 5.45}

In [177]:
myset2 = {'Asif', 'John', 'Tyrion'} #Set of strings
myset2

{'Asif', 'John', 'Tyrion'}

In [178]:
myset3 = {10,20, "Hola", (11,22,32)} #Mixed datatypes
myset3

{(11, 22, 32), 10, 20, 'Hola'}

In [179]:
myset3 = {10,20, "Hola", [11,22,32]} #Set doesnt allow mutable datatypes like list
myset3

TypeError: unhashable type: 'list'

In [ ]:
myset4 = set() #Creating an empty set
myset4

In [ ]:
my_set1 = set(('one', 'two', 'three', 'four'))
my_set1

#Loop through a set

In [ ]:
myset

In [ ]:
for i in myset:
    print(i)

In [ ]:
for i in enumerate(myset):
    print(i)

#Set Membership

In [ ]:
myset5 = {'one', 'two', 'three', 'four', 'five', 'six'}

In [ ]:
myset5

In [ ]:
'one' in myset5 #Checks if 'one' exists in myset

In [ ]:
'ten' in myset5 #Checks if 'ten' exists in myset

In [ ]:
if 'three' in myset5:
    print('Three is present in the set')
else:
    print('Three is not present in the set')

In [ ]:
if 'nine' in myset5:
    print('Nine is present in the set')
else:
    print('Nine is absent in the set')

#Add & Remove items

In [ ]:
myset5

In [ ]:
myset5.add('seven') #Adds item to the string

In [193]:
myset5

{'eight',
 'five',
 'four',
 'g',
 'h',
 'i',
 'n',
 'nine',
 'one',
 'seven',
 'six',
 't',
 'ten',
 'three',
 'two'}

In [197]:
myset5.clear() #Deletes all item in the list

In [199]:
myset5

set()

In [201]:
myset

{1, 2, 3, 4, 5}

In [203]:
myset.add(6) #Add item to a set using add() method
myset

{1, 2, 3, 4, 5, 6}

In [207]:
myset.update([7,8,9]) #Add multiple items to a set using list datatype
myset

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [209]:
myset.remove(9) #Removes items using remove function

In [211]:
myset

{1, 2, 3, 4, 5, 6, 7, 8}

In [213]:
myset.discard(8) #Remove item from set using discard function

In [215]:
myset

{1, 2, 3, 4, 5, 6, 7}

In [223]:
del myset #Delete the set object

#Copy set

In [227]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven'}
myset

{'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [231]:
myset10 = myset #Creates a new reference myset10

In [233]:
myset10

{'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [235]:
id(myset10), id(myset) #Address of both the sets would be same

(2098817556864, 2098817556864)

In [239]:
myset6 = myset.copy() #Creates a copy of the list

In [241]:
myset6

{'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [243]:
id(myset6)

2098817553952

In [245]:
myset.add('eight') 
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [247]:
id(myset)

2098817556864

In [249]:
myset10

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [251]:
id(myset10)

2098817556864

In [253]:
myset6 #Copy of the set wont be impacted due to changes made on original set

{'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [255]:
id(myset6)

2098817553952

#Set operation

#UNION operation = | or union function

In [ ]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}
c = {8,9,10}

In [ ]:
type(a)
type(b)
type(c)

In [ ]:
a | b #a pipe b or a union b (All elements from both sets. No duplicates)

In [ ]:
b | c #b pipe c or b union c

In [ ]:
a | b | c

In [ ]:
a.union(b)

In [ ]:
b.union(a,c)

In [257]:
a1 = {'a','b','c'}
b1 = {'d', 'e', 'f'}
a1.union(b1)

{'a', 'b', 'c', 'd', 'e', 'f'}

#Intersection

In [259]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [261]:
A & B #Intersection of A and B i.e. common elements in A & B

{4, 5}

In [263]:
A.intersection(B) ##Intersection of A and B i.e. common elements in A & B

{4, 5}

#Difference

In [265]:
A

{1, 2, 3, 4, 5}

In [267]:
B

{4, 5, 6, 7, 8}

In [269]:
A - B #Set of elements that are only in A but not in B

{1, 2, 3}

In [271]:
A.difference(B) #Set of elements that are only in A but not in B

{1, 2, 3}

In [273]:
B - A #Set of elements which are only in B and not in A

{6, 7, 8}

#Symmetric difference

In [275]:
A

{1, 2, 3, 4, 5}

In [277]:
B

{4, 5, 6, 7, 8}

In [281]:
A ^ B #Symmetric difference i.e. set of elements in A and B but not in both i.e uncommon elements in two sets

{1, 2, 3, 6, 7, 8}

In [283]:
A.symmetric_difference(B) #Symmetric difference i.e. set of elements in A and B but not in both i.e uncommon elements in two sets

{1, 2, 3, 6, 7, 8}

#Subset, Superset and Disjoint

In [285]:
A = {1,2,3,4,5,6,7,8,9}
B = {3,4,5,6,7,8}
C = {10,20,30,40}

In [287]:
B.issubset(A) #Set B is subset of Set A, if all elements in Set B are present in Set A

True

In [289]:
A.issuperset(B) #Set A is superset of set B, if all elements in Set B are present in Set A

True

In [293]:
C.isdisjoint(A)  #Two sets are disjoint if they have no common elements

True

In [295]:
B.isdisjoint(A)

False

#Other built in functions

In [297]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [299]:
sum(A)

45

In [301]:
max(A)

9

In [303]:
min(A)

1

In [305]:
len(A)

9

In [307]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [311]:
D = sorted(A,reverse=True)
D

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [313]:
sorted(D)

[1, 2, 3, 4, 5, 6, 7, 8, 9]